<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기업형 웹 페이지</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script defer src="js/ie.js"></script>
</head>

<body>

    <header>
        <div class="inner">
            <h1><a href="">DCODLAB</a></h1>
            <ul class="util">
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Join</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>

            <ul id="gnb">
                <li><a href="/department">DEPARTMENT</a></li>
                <li><a href="/gallery">GALLERY</a></li>
                <li><a href="/youtube">YOUTUBE</a></li>
                <li><a href="/community">COMMINITY</a></li>
                <li><a href="/location">LOCATION</a></li>
            </ul>
        </div>
    </header>

    <figure>
        <video src="../static/img/visual.mp4" autoplay muted loop></video>
        <div class="inner">
            <h1>INNOVATION</h1>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br />
                Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.
            </p>

            <a href="https://www.lipsum.com/">view detail</a>
        </div>
    </figure>

    <section>
        <div class="inner">
            <h1>RECENT NEWS</h1>
            <div class="wrap">
                <article>
                    <div class="pic">
                        <a href="/getImg/news1.jpg"><img src="../static/img/news1.jpg" alt="1번째 콘텐츠 이미지" /></a>
                    </div>
                    <h2><a href="#">Lorem Ipsum is simply dummy
                        </a>
                    </h2>
                    <p>industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled it to make a type specimen book.
                    </p>
                </article>

                <article>
                    <div class="pic">
                        <a href="/getImg/news2.jpg"><img src="../static/img/news2.jpg" alt="2번째 콘텐츠 이미지"></a>
                    </div>
                    <h2><a href="#">Lorem Ipsum is simply dummy
                        </a>
                    </h2>
                    <p>industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled it to make a type specimen book.
                    </p>
                </article>

                <article>
                    <div class="pic">
                        <a href="/getImg/news3.jpg"><img src="../static/img/news3.jpg" alt="3번째 콘텐츠 이미지"></a>
                    </div>
                    <h2><a href="#">Lorem Ipsum is simply dummy
                        </a>
                    </h2>
                    <p>industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled it to make a type specimen book.
                    </p>
                </article>

                <article>
                    <div class="pic">
                        <a href="/getImg/news4.jpg"><img src="../static/img/news4.jpg" alt="4번째 콘텐츠 이미지"></a>
                    </div>
                    <h2><a href="#">Lorem Ipsum is simply dummy
                        </a>
                    </h2>
                    <p>industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type and
                        scrambled it to make a type specimen book.
                    </p>
                </article>
            </div>
        </div>
    </section>

    <footer>
        <div class="inner">
            <div class="upper">
                <h1>DCODLAB</h1>
                <ul>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Family site</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
            <div class="lower">
                <address>
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.<br />
                TEL : 031-000-0000 C.P : 123-1231-1231
                </address>
                <p>123123 asd &copy; copyright all right reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>