@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}

header{
	width: 100%;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}
header .inner{
	width: 1180px;
	height: 120px;

	margin: 0 auto;

	position: relative;
}

header .inner h1{
	position: absolute;
	left: 0px;
	bottom: 15px;
}
header .inner h1 a{
	font: bold 24px/1 "arial";
	color: #444;
}

header .inner > ul.util{
	position: absolute;
	right:30px;
	top: 20px;
}

header .inner > ul.util li{
	float: left;
}

header .inner > ul.util li a{
	display: block;
	font: 12px/1 "arial";
	color: #999999;
	padding: 0 10px;
}

header .inner > ul#gnb{
	position: absolute;
	bottom: 0;
	right: 0;
}

header .inner > ul#gnb li{
	float: left;
}

header .inner > ul#gnb li a{
	display: block;
	font: bold 15px/1 "airal";
	color: #555;
	padding: 20px 40px;

	transition: all 0.5s;
}

header .inner > ul#gnb li a:hover{
	background-color: #555;
	color: #fff;
}



footer{
	width: 100%;
	background: #333;
	padding: 100px 0px;
	border-top: 1px solid #888;
}
footer .inner{
	width: 1180px;
	margin: 0px auto;
}

footer .inner .upper{
	width: 100%;
	border-bottom: 1px solid #777;
	padding-bottom: 20px;
}
footer .inner .upper::after{
	content:"";
	display: block;
	clear: both;
}
footer .inner .upper h1{
	float: left;
	font: bold 24px/1 "arial";
	color: #666;
}
footer .inner .upper ul{
	float: right;
}
footer .inner .upper ul li{
	float: left;
	margin-left: 20px;
	
}
footer .inner .upper ul li a{
	font: bold 14px/1 "arial";
	color: #666;
}
footer .lower{
	width: 100%;
	padding-top: 20px;
}

footer .lower address{
	width: 100%;
	font: 12px/1.3 "arial";
	color: #777;
	margin-bottom: 20px;
}
footer .lower p{
	width: 100%;
	font: 12px/1 "arial";
	color: #777;
	
}